backups
config/*client*
config/ae2/client.json
config/jei/jei-client.json
config/ModernUI
config/embeddium*
config/jecharacters.toml
config/jeresources*
config/MouseTweaks.cfg
config/oculus.properties
config/packmenu.cfg
config/sodium*
config/storagedrawers*
crash-reports
ldlib
libraries
local
logs
modernfix
mods/*.disabled
world

banned-ips.json
banned-players.json
eula.txt
forge*installer.*
ops.json
rhino.local.properties
server.properties
usercache.json
whitelist.json
